{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Customers{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class = "form-center">
<form>
    <input
        type="search"
        id="custSearch"
        name="customerq"
        placeholder="Enter Customer ID, First Name, Or Last Name, Or Click Search For All" 
        size="60" />
        <button>Search</button>
    <span class="validity"></span>
</form>
</div>

<div style="margin:auto; display:inline-block; width: 35%;">
<form method="post">
    <label for="clist"> Customer List (Customer ID)</label>
    <select name="clist" id="clist" required size="15" size="30">
      {% for customer in customers %}
      <option value="{{ customer['first_name'] }} {{ customer['last_name'] }}">{{ customer['first_name'] }} {{ customer['last_name'] }} ({{ customer['customer_id'] }})</option>
      {% endfor %}
    </select>
    <input type="submit" value="Get Details"/>
</form>
</div>


<div style="margin:auto; display:inline-block; width: 40%;">
{% if c_details %}
{% for c in c_details %}
<form method="post" id="edit_form" name="edit_form">
    <label>Customer Details</label>
    <label for="store_id">Store ID</label>
    <input type="text" id="store_id" name="store_id" value="{{ c['store_id'] }}">
    <label for="customer_id">Customer ID</label>
    <input type="text" id="customer_id" name="customer_id" value="{{ c['customer_id'] }}">
    <label for="first_name">First Name</label>
    <input type="text" id="first_name" name="first_name" value="{{ c['first_name'] }}">
    <label for="last_name">Last Name</label>
    <input type="text" id="last_name" name="last_name" value="{{ c['last_name'] }}">
    <label for="email">E-Mail</label>
    <input type="text" id="email" name="email" value="{{ c['email'] }}">
    <label for="active">Is Active (1 = Yes, 0 = No)</label>
    <input type="text" id="active" name="active" value="{{ c['active'] }}">
    <input type="submit" value="Edit Details"/>
</form>
{% endfor %}
{% endif %}
</div>
{% endblock %}