{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="#" method="post">
    <label for="movie">Top 5 Rented Movies & Rent Count</label>
    <select name="movie" id="movie" required size="5">
      {% for movie in tmovies %}
      <option value="{{ movie['title'] }}">{{ movie['title'] }} ({{ movie['rented'] }})</option>
      {% endfor %}
    </select>
    <input type="submit" value="Get Details" />
</form>

{% for post in posts %}
    <article class="post">
        <dl>
            <dt><b>Title</b></dt>
            <dd>{{ post['title'] }}</dd>
            <dt><b>Description</b></dt>
            <dd>{{ post['description'] }}</dd>
            <dt><b>Year of Release</b></dt>
            <dd>{{ post['release_year'] }}</dd>
            <dt><b>Length in Minutes</b></dt>
            <dd>{{ post['length'] }}</dd>
            <dt><b>Rating</b></dt>
            <dd>{{ post['rating'] }}</dd>
        </dl>
    </article>
{% endfor %}

<form action="#" method="post">
    <label for="actors">Top 5 Actors & Movie Count</label>
    <select name="actors" id="actors" required size="5">
      {% for tactor in tactors %}
      <option value="{{ tactor['first_name'] }} {{ tactor['last_name'] }}">{{ tactor['first_name'] }} {{ tactor['last_name'] }} ({{ tactor['movies'] }})</option>
      {% endfor %}
    </select>
    <input type="submit" value="Get Details" />
</form>

{% for actor in actors %}
    <article class="post">
        <dl>
            <dt><b>Film Name</b></dt>
            <dd>{{ actor['title'] }}</dd>
            <dt><b>Number Rented</b></dt>
            <dd>{{ actor['rented'] }}</dd>
        </dl>
    </article>
{% endfor %}

{% endblock %}
